@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

body {
    background-color: hsl(0, 0%, 95%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: grid;
    grid-template-rows: repeat(3, 450px);
    grid-template-columns: 330px;
    margin: 18% 0% 18% 0%;
    font-family: 'Lexend Deca', sans-serif;
    border-radius: 0.5rem;
    overflow: hidden;
    max-width: 480px;
}

section {
    padding: 14% 16% 12% 12%;
}

.sedans {
    background-color: hsl(31, 77%, 52%);
}

.suvs {
    background-color: hsl(184, 100%, 22%);
}

.luxury {
    background-color: hsl(179, 100%, 13%);
}

img {
    width: 25%;
}

h1 {
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    color: hsl(0, 0%, 95%);
    font-size: 2.4rem;
    margin-bottom: 12%;
}

p {
    color: hsla(0, 0%, 100%, 0.75);
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.025rem;
    margin-bottom: 13%;
    line-height: 1.7;
}

button {
    background-color: hsl(0, 0%, 95%);
    border-radius: 2.9rem;
    border: none;
    width: 57%;
    height: 2.8rem;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 0.95rem;
}

.sedan_button {
    color: hsl(31, 77%, 52%);
}

.suv_button {
    color: hsl(184, 100%, 22%);
}

.luxury_button {
    color: hsl(179, 100%, 13%);
}

.sedan_button:hover,
.suv_button:hover,
.luxury_button:hover {
    background: unset;
    border: 1px solid hsl(0, 0%, 95%);
    color: hsl(0, 0%, 95%);
    cursor: pointer;
}

@media (min-width: 880px) {
    .card {
        grid-template-columns: repeat(3, 310px);
        grid-template-rows: 540px;
        max-width: 1280px;
        margin:0;
    }

    section {
        display:flex;
        flex-direction: column;
        padding: 18% 14% 6% 15%;
    }

    img {
        width: 30%;
        padding-bottom: 2%;
    }

    h1 {
        font-size: 3rem;
        margin-bottom: 8%;
    }

    button {
        margin-top: 28%;
        border-radius: 2.9rem;
        width: 70%;
        height: 3.1rem;
    }

}